---
# ====================== Test & Build Lambda ===================

- name: '[lambda-error-reporting] Install dependencies'
  command: npm install
  args:
    chdir: '{{ role_path }}/../../../app/lambda-error-reporting'

- name: '[lambda-error-reporting] Test'
  command: npm run test
  args:
    chdir: '{{ role_path }}/../../../app/lambda-error-reporting'

- name: '[lambda-error-reporting] Build Release'
  command: npm run compile
  args:
    chdir: '{{ role_path }}/../../../app/lambda-error-reporting'

# ====================== Cloudformation: Deploy ===================

- name: 'get Grafana CloudFormation template'
  set_fact:
    template_filename: '{{ role_path }}/files/cf-lambda-error-reporting.yml'

- include_role:
    name: 'ringier.aws_cicd.run_cloudformation'
  vars:
    stack_name: '{{env}}-{{project_id}}-lambda-error-reporting'
    template: '{{ template_filename }}'
