---
Transform: AWS::Serverless-2016-10-31
Description: 'RC+/DevOps - Slack notification for CloudWatch Alarm v{{ project_version }}'


Resources:

# ======== Slack Alarm Notification Lambda =======

  LambdaErrorReportingLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: '/aws/lambda/{{ env }}-{{ project_id }}-cloudwatch-alarms'
      RetentionInDays: 3
      Tags:
        - { Key: 'Name', Value: '{{ env }}-{{ project_id }}-cloudwatch-alarms' }
        - { Key: 'Project', Value: '{{ project_id }}' }
        - { Key: 'Environment', Value: '{{ env }}' }
        - { Key: 'Version', Value: 'v{{ project_version }}' }
        - { Key: 'Repository', Value: '{{ git_info.repo_name }}' }

  LambdaErrorReportingFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: '{{ env }}-{{ project_id }}-cloudwatch-alarms'
      CodeUri: '{{ lambda_code_path }}'
      Description: 'Send a slack message when any AWS CloudWatch Alarm state changes'
      Events:
        EventBridgeRuleCWAlarm:
          Type: 'EventBridgeRule'
          Properties:
            Pattern: {
                "source": [ "aws.cloudwatch" ],
                "detail-type": [ "CloudWatch Alarm State Change" ]
              }
        EventBridgeRuleAwsBatch:
          Type: 'EventBridgeRule'
          Properties:
            Pattern: {
                "source": [ "aws.batch" ],
                "detail-type": [
                  "Batch Job State Change"
                ],
                "detail": {
                  "status": [
                    "FAILED"
                  ]
                }
              }
      Environment:
        Variables:
          SLACK_WEBHOOK_URL: '{{ slack_webhook_url }}'
          ENVIRONMENT: '{{ env }}'
      Handler: index.handler
      MemorySize: 128
      Runtime: nodejs14.x
      Timeout: 15
      Policies:
      - Version: '2012-10-17' 
        Statement:
          - Effect: Allow
            Action:
              - cloudwatch:ListMetrics
              - cloudwatch:GetMetricData
              - logs:Describe*
              - logs:List*
              - logs:Get*
              - logs:FilterLogEvents
            Resource: '*'
