---
  - name: 'create alerting infrastructure'
    hosts: 'localhost'
    connection: 'local'
    collections: 'ringier.aws_cicd'
    gather_facts: false
    vars:
      aws_region: 'eu-central-1'
      project_id: '{{ lookup("env", "PROJECT_ID") }}'
      project_version: 1.1.7
      software_component: 'devops'
    pre_tasks:
      - fail: msg='specify an environment (dev, stg, prod, ops, land, etc.)'
        when: env is not defined or env == ''
    roles:
      - 'init_workspace'
      - 'aws-resources'
      - 'del_workspace'
